# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

### **Objectives:**
* Popular languages
* Commonly used libraries
* Data Science Tools
* Arithmetic expressions

### Some of the popular languages that Data Scientists use are:
1. Python
2. R 
3. Julia

### Some of the commonly used libraries used by Data Scientists include:
#### Python:

1. NumPy
2. Pandas 
3. Matplotlib

#### R:
1. ggplot2
2. caret
3. dplyr

|Data Science Tools|
|-----------|
|Jupyter Notebook|
|RStudio|
|Github|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60
n=200/60
print("200 minutes is", n, "hours")

200 minutes is 3.3333333333333335 hours

## Author
Zeinab(Arya) Haghighian